{erl_opts, [debug_info,
            warn_export_vars,
            warn_shadow_vars,
            warn_obsolete_guard,
            {parse_transform, lager_transform}]}.
{deps, [{lager, "3.8.1"},
        {jsx, "v3.0.0"},
        {google_oauth, {git, "https://github.com/Leapsight/google_oauth_erlang.git", {tag, "2.0.0"}}}
]}.
{relx, [{release, {fcm, "2.0.0"}, [kernel,stdlib,sasl,fcm]},
        {extended_start_script, true},
        {include_src, false}]}.
